body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
a {
  color: blue;
  font-weight: 600;
  font-size: 0.85em;
  text-decoration: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 320px;
}

.form-box h2 {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
/* .dark{
  color: black;
} */
.social-icons a {
  font-size: 13px;
  color: black;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #7F00FF;
  color: #fff;
  border-color: #7F00FF;
}

.form-box p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.form-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(to right, #7F00FF, #E100FF);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* .form-box a {
  text-decoration: none;
  color: #7F00FF;
} */